<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="left_page_div" style="position: fixed;top:10%;">
    <ul style="padding:5%; list-style-type: none;" id="ul_left_div">
        <li >
            <span class="left"><img src="../images/dipak_makvana.jpg" style="height: 30px;width: 30px;"> </span>
            <span>DIpak Makvana</span>
            </li>
        <li>
        <span class="left"><img src="../images/main-thumb-t-6976-200-nfsuewcaqtwvnmrsqvokhudggggkvuuo.jpeg"> </span>
            <span>News Feed</span>
        </li>
        <li>
        <span class="left"><img src="../images/manage-recover-your-facebook-chat-messages-history.w1456.jpg"> </span>
            <span>Message</span>
        </li>
        <li style="font-weight:600;font-size: 8px">
            <span>SHORTCUTS</span>
        </li>
        <li>
            <span class="left"></span>
            <span class="right">EPic Technolabs</span>
        </li>
        <li>
            <span class="left">images</span>
            <span>Love Announcement</span>
        </li>
        <li>
            <span class="left">images</span>
            <span>Narendra Modi</span>
        </li>
        <li>
            <span>EXPLORE</span>
        </li>
        <li>
            <span class="left"><img src="../images/pages.jpg"> </span>
            <span>Pages</span>
        </li>
        <li>
            <span class="left"><img src="../images/group.jpg"> </span>
            <span>Group</span>
        </li>

        <li>
            <span class="left"><i class="fa fa-calendar-o" style="font-size: 10px;border: 2px solid brown;padding: 1%">10</i></span>
            <span>Events</span>
        </li>

        <li>
            <span class="left"><img src="../images/page_feed.png"> </span>
            <span>Page Feed</span>
        </li>

        <li>
            <span class="left"><img src="../images/onthisday.png"> </span>
            <span>On this day</span>
        </li>
    </ul>
</div>
